<!-- <p>details-meal works !</p>
<p>{{ id() }}</p> -->
<div class="row pb-3 justify-content-md-between">
  @if (estadoApp()) {
    <div class="col-md-12">
      <div
        class="alert alert-dismissible fade show"
        role="alert"
        [class.alert-success]="estadoApp()?.tipo == 'success'"
        [class.alert-danger]="estadoApp()?.tipo == 'error'"
      >
        {{ estadoApp()?.mensaje }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  }
  <div class="col-md-8">
    <div id="descripcionPlato" class="mb-3">
      <h1 id="nombrePlato">{{ platoSeleccionado().strMeal }}</h1>
      <div id="descripcion">
        <p>Pais: {{ platoSeleccionado().strArea }}</p>
        <p>Categoria: {{ platoSeleccionado().strCategory }}</p>
      </div>

      <h2>Ingredientes</h2>
      <ul class="list-group" id="ingredientes">
        @for (ingrediente of platoSeleccionado().ingredients; track ingrediente) {
          <li class="list-group-item">{{ ingrediente.measure }} de {{ ingrediente.name }}</li>
        }
      </ul>
    </div>
  </div>
  <div class="col-md-4 text-end">
    <div class="card-container">
      @if (platoSeleccionado().strMealThumb != '') {
        <img
          id="imagenPlato"
          [ngSrc]="platoSeleccionado().strMealThumb || 'placeholder.png'"
          [alt]="'Imagen de ' + platoSeleccionado().strMeal"
          class="rounded-4"
          fill
          priority
        />
      }
    </div>
    <!-- TODO: notificar de los errores de sesion y otros -->
    @if (isAuthenticated()) {
      <button
        type="submit"
        (click)="handleFavClick(buttonFav)"
        #buttonFav
        class="btn btn-outline-warning px-5 my-3"
        [class.active]="favButton()"
        id="platoFavorito"
      >
        @if (favButton()) {
          Des-Guardar
        } @else {
          Guardar
        }
      </button>
    }
  </div>
</div>
