<div class="pb-3" id="contenedorFavoritos">
  <h2>Platos Favoritos</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" id="platosFavoritos">
    @if (platosGuardados.isLoading()) {
      <p>Cargando los platos favoritos</p>
    } @else if (platosGuardados.error()) {
      <p>Error al cargar los platos favoritos</p>
    } @else {
      @for (plato of platosGuardados.value(); track plato.idMeal) {
        <app-card-meal [plato]="plato"></app-card-meal>
      }@empty {
        <p>No hay ninguna receta guardada</p>
      }
    }
  </div>
</div>
