extends ../partials/_layout.pug 

block content 
    .container.py-3
        .row.pb-3.justify-content-md-between
            <div class="col-md-8">
                <h1 id="nombrePlato"></h1>

                h2 Ingredientes 
                <ul class="list-group" id="ingredientes">
                </ul>
                <div class="d-none">
                    textarea#opinion(name="opinion") 
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="html" name="realizacion" value="quiero" checked>
                    label(for="quiero").form-check-label Quiero hacerla
                </div>
                h2 Formulario
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="html" name="realizacion" value="hecho">
                    label(for="hecho").form-check-label La he hecho
                </div>
                </div>
            </div>
            <div class="col-md-4 text-end">
                img#imagenPlato(src="#" alt="").img-square
                <button type="submit" class="btn btn-outline-primary px-5 my-3" id="platoFavorito">Favorita</button>
            </div>

            

block scripts 
    <script type="module" src="./dist/details.js"></script>