extends ../partials/_layout.pug 

block content 
    .container.py-3
        .row.pb-3.justify-content-md-between
            <div class="col-md-8">
                <h1 id="nombrePlato"></h1>
            </div>
            <div class="col-md-4 text-end align-self-end" id="imagenPlato">
                img#imagenPlato(src="", alt="").img-square
            </div>